<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jeff.eldorhubdeliveries">

    <application
        android:name=".Ui.EldorHubApplication"
        android:allowBackup="true"
        android:icon="@drawable/fd"
        android:label="@string/app_name"
        android:roundIcon="@drawable/fd"
        android:theme="@style/Theme.EldorHubDeliveries">
        android:supportsRtl="true">
        <activity
            android:name=".Ui.Profile"
            android:exported="true" />
        <activity
            android:name=".Ui.About"
            android:exported="true" />
        <activity
            android:name=".Ui.PaymentMethod"
            android:exported="true" />
        <activity
            android:name=".Ui.Delivery"
            android:exported="true" />
        <activity
            android:name=".Ui.Dashboard"
            android:exported="true" />
        <activity
            android:name=".Ui.Register"
            android:exported="true" />
        <activity
            android:name=".Ui.Login"
            android:exported="true" />
        <activity
            android:name=".Ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>